# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
*.env
server/.env
client/.env
!client/.env.production
!client/.env.example

# Local DB / Data
data/
server/data/
*.log

# Production build outputs
dist/
dist-ssr/
build/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.local
.system_generated/
